.btn-toggle[data-v-b3498a4b] {
  background-color: #ffffff26;
  transition: color .15s ease-out
}

.btn-toggle[data-v-b3498a4b]:before {
  background-color: #fff;
  border-radius: inherit;
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  position: absolute;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform .5s cubic-bezier(.19, 1, .22, 1);
  z-index: -1
}

.btn-toggle.is-active[data-v-b3498a4b] {
  color: #000
}

.btn-toggle.is-active[data-v-b3498a4b]:before {
  transform: scaleX(1)
}

@media (hover:hover) and (pointer:fine) {
  .btn-toggle[data-v-b3498a4b]:hover {
    color: #000
  }

  .btn-toggle[data-v-b3498a4b]:hover:before {
    transform: scaleX(1)
  }
}

.contact-hero__content[data-v-b3498a4b] {
  height: calc(var(--vh-c, 1svh)*100 - 100px)
}

@media (min-width:650px) {
  .contact-hero__content[data-v-b3498a4b] {
    height: calc(var(--vh-c, 1svh)*100)
  }
}
