@font-face {
  font-display: swap;
  font-family: sans;
  font-style: normal;
  font-weight: 500;
  src: url(/assets/fonts/font_001.woff2) format("woff2"), url(/_nuxt/SuisseIntl-Medium-WebXL.Bqka3X6W.woff) format("woff")
}

@font-face {
  font-display: swap;
  font-family: condensed;
  font-style: normal;
  font-weight: 700;
  src: url(/_nuxt/SuisseIntlCond-Bold-WebS.Cix7nl0g.woff2) format("woff2"), url(/_nuxt/SuisseIntlCond-Bold-WebS.rUjlizKw.woff) format("woff")
}

*,
:after,
:before {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x: ;
  --tw-pan-y: ;
  --tw-pinch-zoom: ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position: ;
  --tw-gradient-via-position: ;
  --tw-gradient-to-position: ;
  --tw-ordinal: ;
  --tw-slashed-zero: ;
  --tw-numeric-figure: ;
  --tw-numeric-spacing: ;
  --tw-numeric-fraction: ;
  --tw-ring-inset: ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgba(59, 130, 246, .5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur: ;
  --tw-brightness: ;
  --tw-contrast: ;
  --tw-grayscale: ;
  --tw-hue-rotate: ;
  --tw-invert: ;
  --tw-saturate: ;
  --tw-sepia: ;
  --tw-drop-shadow: ;
  --tw-backdrop-blur: ;
  --tw-backdrop-brightness: ;
  --tw-backdrop-contrast: ;
  --tw-backdrop-grayscale: ;
  --tw-backdrop-hue-rotate: ;
  --tw-backdrop-invert: ;
  --tw-backdrop-opacity: ;
  --tw-backdrop-saturate: ;
  --tw-backdrop-sepia: ;
  --tw-contain-size: ;
  --tw-contain-layout: ;
  --tw-contain-paint: ;
  --tw-contain-style:
}

::backdrop {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x: ;
  --tw-pan-y: ;
  --tw-pinch-zoom: ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position: ;
  --tw-gradient-via-position: ;
  --tw-gradient-to-position: ;
  --tw-ordinal: ;
  --tw-slashed-zero: ;
  --tw-numeric-figure: ;
  --tw-numeric-spacing: ;
  --tw-numeric-fraction: ;
  --tw-ring-inset: ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgba(59, 130, 246, .5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur: ;
  --tw-brightness: ;
  --tw-contrast: ;
  --tw-grayscale: ;
  --tw-hue-rotate: ;
  --tw-invert: ;
  --tw-saturate: ;
  --tw-sepia: ;
  --tw-drop-shadow: ;
  --tw-backdrop-blur: ;
  --tw-backdrop-brightness: ;
  --tw-backdrop-contrast: ;
  --tw-backdrop-grayscale: ;
  --tw-backdrop-hue-rotate: ;
  --tw-backdrop-invert: ;
  --tw-backdrop-opacity: ;
  --tw-backdrop-saturate: ;
  --tw-backdrop-sepia: ;
  --tw-contain-size: ;
  --tw-contain-layout: ;
  --tw-contain-paint: ;
  --tw-contain-style:
}

*,
:after,
:before {
  border: 0 solid;
  box-sizing: border-box
}

:after,
:before {
  --tw-content: ""
}

:host,
html {
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
  font-family: sans;
  font-feature-settings: normal;
  font-variation-settings: normal;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-tap-highlight-color: transparent
}

body {
  line-height: inherit;
  margin: 0
}

hr {
  border-top-width: 1px;
  color: inherit;
  height: 0
}

abbr:where([title]) {
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit
}

a {
  color: inherit;
  text-decoration: inherit
}

b,
strong {
  font-weight: bolder
}

code,
kbd,
pre,
samp {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace;
  font-feature-settings: normal;
  font-size: 1em;
  font-variation-settings: normal
}

small {
  font-size: 80%
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline
}

sub {
  bottom: -.25em
}

sup {
  top: -.5em
}

table {
  border-collapse: collapse;
  border-color: inherit;
  text-indent: 0
}

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font-family: inherit;
  font-feature-settings: inherit;
  font-size: 100%;
  font-variation-settings: inherit;
  font-weight: inherit;
  letter-spacing: inherit;
  line-height: inherit;
  margin: 0;
  padding: 0
}

button,
select {
  text-transform: none
}

button,
input:where([type=button]),
input:where([type=reset]),
input:where([type=submit]) {
  -webkit-appearance: button;
  background-color: transparent;
  background-image: none
}

:-moz-focusring {
  outline: auto
}

:-moz-ui-invalid {
  box-shadow: none
}

progress {
  vertical-align: baseline
}

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px
}

::-webkit-search-decoration {
  -webkit-appearance: none
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit
}

summary {
  display: list-item
}

blockquote,
dd,
dl,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
pre {
  margin: 0
}

fieldset {
  margin: 0
}

fieldset,
legend {
  padding: 0
}

menu,
ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0
}

dialog {
  padding: 0
}

textarea {
  resize: vertical
}

input::-moz-placeholder,
textarea::-moz-placeholder {
  color: #9ca3af;
  opacity: 1
}

input::placeholder,
textarea::placeholder {
  color: #9ca3af;
  opacity: 1
}

[role=button],
button {
  cursor: pointer
}

:disabled {
  cursor: default
}

audio,
canvas,
embed,
iframe,
img,
object,
svg,
video {
  display: block;
  vertical-align: middle
}

img,
video {
  height: auto;
  max-width: 100%
}

[hidden]:where(:not([hidden=until-found])) {
  display: none
}

.pointer-events-none {
  pointer-events: none
}

.pointer-events-auto {
  pointer-events: auto
}

.visible {
  visibility: visible
}

.invisible {
  visibility: hidden
}

.fixed {
  position: fixed
}

.absolute {
  position: absolute
}

.relative {
  position: relative
}

.sticky {
  position: sticky
}

.inset-0 {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0
}

.-inset-y-100 {
  bottom: -10rem;
  top: -10rem
}

.-inset-y-200 {
  bottom: -20rem;
  top: -20rem
}

.inset-x-0 {
  left: 0;
  right: 0
}

.inset-y-100 {
  bottom: 10rem;
  top: 10rem
}

.-top-50 {
  top: -5rem
}

.bottom-0 {
  bottom: 0
}

.bottom-1 {
  bottom: .1rem
}

.bottom-20 {
  bottom: 2rem
}

.bottom-40 {
  bottom: 4rem
}

.left-0 {
  left: 0
}

.left-1\/2 {
  left: 50%
}

.right-0 {
  right: 0
}

.top-0 {
  top: 0
}

.top-1\/2 {
  top: 50%
}

.top-\[calc\(100\%\+9\.5rem\)\] {
  top: calc(100% + 9.5rem)
}

.z-1 {
  z-index: 1
}

.z-10 {
  z-index: 10
}

.z-2 {
  z-index: 2
}

.z-3 {
  z-index: 3
}

.z-4 {
  z-index: 4
}

.z-5 {
  z-index: 5
}

.z-6 {
  z-index: 6
}

.z-9 {
  z-index: 9
}

.z-\[11\] {
  z-index: 11
}

.z-\[9999\] {
  z-index: 9999
}

.z-\[99\] {
  z-index: 99
}

.col-span-1 {
  grid-column: span 1/span 1
}

.col-span-12 {
  grid-column: span 12/span 12
}

.col-span-3 {
  grid-column: span 3/span 3
}

.col-span-4 {
  grid-column: span 4/span 4
}

.col-span-5 {
  grid-column: span 5/span 5
}

.col-span-6 {
  grid-column: span 6/span 6
}

.col-start-3 {
  grid-column-start: 3
}

.col-start-4 {
  grid-column-start: 4
}

.-mx-40 {
  margin-right: -4rem
}

.-ml-40,
.-mx-40 {
  margin-left: -4rem
}

.-mr-40 {
  margin-right: -4rem
}

.-mt-5 {
  margin-top: -.5rem
}

.mb-16 {
  margin-bottom: 1.6rem
}

.mb-24 {
  margin-bottom: 2.4rem
}

.mb-32 {
  margin-bottom: 3.2rem
}

.mb-40 {
  margin-bottom: 4rem
}

.mb-5 {
  margin-bottom: .5rem
}

.mb-64 {
  margin-bottom: 6.4rem
}

.mb-\[\.2em\] {
  margin-bottom: .2em
}

.ml-0 {
  margin-left: 0
}

.ml-\[-\.05em\] {
  margin-left: -.05em
}

.ml-\[\.1em\] {
  margin-left: .1em
}

.ml-\[\.25em\] {
  margin-left: .25em
}

.ml-\[\.2em\] {
  margin-left: .2em
}

.ml-auto {
  margin-left: auto
}

.mr-16 {
  margin-right: 1.6rem
}

.mr-20 {
  margin-right: 2rem
}

.mr-\[\.1em\] {
  margin-right: .1em
}

.mt-100 {
  margin-top: 10rem
}

.mt-12 {
  margin-top: 1.2rem
}

.mt-120 {
  margin-top: 12rem
}

.mt-140 {
  margin-top: 14rem
}

.mt-15 {
  margin-top: 1.5rem
}

.mt-150 {
  margin-top: 15rem
}

.mt-16 {
  margin-top: 1.6rem
}

.mt-18 {
  margin-top: 1.8rem
}

.mt-20 {
  margin-top: 2rem
}

.mt-24 {
  margin-top: 2.4rem
}

.mt-25 {
  margin-top: 2.5rem
}

.mt-32 {
  margin-top: 3.2rem
}

.mt-36 {
  margin-top: 3.6rem
}

.mt-40 {
  margin-top: 4rem
}

.mt-48 {
  margin-top: 4.8rem
}

.mt-50 {
  margin-top: 5rem
}

.mt-60 {
  margin-top: 6rem
}

.mt-72 {
  margin-top: 7.2rem
}

.mt-90 {
  margin-top: 9rem
}

.block {
  display: block
}

.inline {
  display: inline
}

.flex {
  display: flex
}

.inline-flex {
  display: inline-flex
}

.grid {
  display: grid
}

.\!contents {
  display: contents !important
}

.contents {
  display: contents
}

.\!hidden {
  display: none !important
}

.hidden {
  display: none
}

.size-14 {
  height: 1.4rem;
  width: 1.4rem
}

.size-15 {
  height: 1.5rem;
  width: 1.5rem
}

.size-35 {
  height: 3.5rem;
  width: 3.5rem
}

.size-64 {
  height: 6.4rem;
  width: 6.4rem
}

.size-\[\.5em\] {
  height: .5em;
  width: .5em
}

.h-0 {
  height: 0
}

.h-10 {
  height: 1rem
}

.h-100 {
  height: 10rem
}

.h-110 {
  height: 11rem
}

.h-120 {
  height: 12rem
}

.h-15 {
  height: 1.5rem
}

.h-16 {
  height: 1.6rem
}

.h-20 {
  height: 2rem
}

.h-25 {
  height: 2.5rem
}

.h-32 {
  height: 3.2rem
}

.h-35 {
  height: 3.5rem
}

.h-40 {
  height: 4rem
}

.h-50 {
  height: 5rem
}

.h-60 {
  height: 6rem
}

.h-9 {
  height: .9rem
}

.h-\[\.25em\] {
  height: .25em
}

.h-\[\.5em\] {
  height: .5em
}

.h-\[17\.5rem\] {
  height: 17.5rem
}

.h-\[300svh\] {
  height: 300svh
}

.h-auto {
  height: auto
}

.h-full {
  height: 100%
}

.min-h-\[53\.7rem\] {
  min-height: 53.7rem
}

.w-130 {
  width: 13rem
}

.w-60 {
  width: 6rem
}

.w-auto {
  width: auto
}

.w-full {
  width: 100%
}

.min-w-\[11\.5rem\] {
  min-width: 11.5rem
}

.min-w-\[12rem\] {
  min-width: 12rem
}

.min-w-\[33rem\] {
  min-width: 33rem
}

.max-w-\[11\.5rem\] {
  max-width: 11.5rem
}

.max-w-\[12rem\] {
  max-width: 12rem
}

.max-w-\[20rem\] {
  max-width: 20rem
}

.max-w-\[25rem\] {
  max-width: 25rem
}

.max-w-\[30rem\] {
  max-width: 30rem
}

.max-w-\[33\.5rem\] {
  max-width: 33.5rem
}

.max-w-\[33rem\] {
  max-width: 33rem
}

.max-w-\[35\.2rem\] {
  max-width: 35.2rem
}

.max-w-\[36rem\] {
  max-width: 36rem
}

.flex-1 {
  flex: 1 1 0%
}

.flex-shrink {
  flex-shrink: 1
}

.origin-left {
  transform-origin: left
}

.-translate-x-1\/2 {
  --tw-translate-x: -50%
}

.-translate-x-1\/2,
.-translate-x-80 {
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skew(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.-translate-x-80 {
  --tw-translate-x: -8rem
}

.-translate-y-1\/2 {
  --tw-translate-y: -50%
}

.-translate-y-1\/2,
.translate-x-80 {
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skew(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.translate-x-80 {
  --tw-translate-x: 8rem
}

.translate-y-\[-\.175em\] {
  --tw-translate-y: -.175em
}

.scale-y-\[-1\],
.translate-y-\[-\.175em\] {
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skew(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.scale-y-\[-1\] {
  --tw-scale-y: -1
}

.transform {
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skew(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.select-none {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none
}

.resize {
  resize: both
}

.grid-cols-1 {
  grid-template-columns: repeat(1, minmax(0, 1fr))
}

.grid-cols-3 {
  grid-template-columns: repeat(3, minmax(0, 1fr))
}

.flex-col {
  flex-direction: column
}

.items-start {
  align-items: flex-start
}

.items-end {
  align-items: flex-end
}

.items-center {
  align-items: center
}

.justify-start {
  justify-content: flex-start
}

.justify-end {
  justify-content: flex-end
}

.justify-center {
  justify-content: center
}

.justify-between {
  justify-content: space-between
}

.gap-20 {
  gap: 2rem
}

.gap-x-10 {
  -moz-column-gap: 1rem;
  column-gap: 1rem
}

.gap-x-12 {
  -moz-column-gap: 1.2rem;
  column-gap: 1.2rem
}

.gap-x-16 {
  -moz-column-gap: 1.6rem;
  column-gap: 1.6rem
}

.gap-x-20 {
  -moz-column-gap: 2rem;
  column-gap: 2rem
}

.gap-x-30 {
  -moz-column-gap: 3rem;
  column-gap: 3rem
}

.gap-x-32 {
  -moz-column-gap: 3.2rem;
  column-gap: 3.2rem
}

.gap-x-40 {
  -moz-column-gap: 4rem;
  column-gap: 4rem
}

.gap-x-6 {
  -moz-column-gap: .6rem;
  column-gap: .6rem
}

.gap-x-8 {
  -moz-column-gap: .8rem;
  column-gap: .8rem
}

.gap-y-10 {
  row-gap: 1rem
}

.gap-y-12 {
  row-gap: 1.2rem
}

.gap-y-15 {
  row-gap: 1.5rem
}

.gap-y-16 {
  row-gap: 1.6rem
}

.gap-y-20 {
  row-gap: 2rem
}

.gap-y-24 {
  row-gap: 2.4rem
}

.gap-y-25 {
  row-gap: 2.5rem
}

.gap-y-28 {
  row-gap: 2.8rem
}

.gap-y-30 {
  row-gap: 3rem
}

.gap-y-32 {
  row-gap: 3.2rem
}

.gap-y-35 {
  row-gap: 3.5rem
}

.gap-y-4 {
  row-gap: .4rem
}

.gap-y-40 {
  row-gap: 4rem
}

.gap-y-48 {
  row-gap: 4.8rem
}

.gap-y-64 {
  row-gap: 6.4rem
}

.gap-y-8 {
  row-gap: .8rem
}

.gap-y-80 {
  row-gap: 8rem
}

.gap-y-90 {
  row-gap: 9rem
}

.gap-y-96 {
  row-gap: 9.6rem
}

.gap-y-\[42rem\] {
  row-gap: 42rem
}

.divide-y>:not([hidden])~:not([hidden]) {
  --tw-divide-y-reverse: 0;
  border-bottom-width: calc(1px*var(--tw-divide-y-reverse));
  border-top-width: calc(1px*(1 - var(--tw-divide-y-reverse)))
}

.divide-theme-15>:not([hidden])~:not([hidden]) {
  border-color: var(--theme-text-15)
}

.overflow-hidden {
  overflow: hidden
}

.overflow-y-auto {
  overflow-y: auto
}

.whitespace-nowrap {
  white-space: nowrap
}

.\!rounded-none {
  border-radius: 0 !important
}

.rounded {
  border-radius: .25rem
}

.rounded-\[\.5rem\] {
  border-radius: .5rem
}

.rounded-\[2rem\] {
  border-radius: 2rem
}

.rounded-t-\[\.5rem\] {
  border-top-left-radius: .5rem;
  border-top-right-radius: .5rem
}

.rounded-t-\[1rem\] {
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem
}

.border {
  border-width: 1px
}

.border-b {
  border-bottom-width: 1px
}

.border-t {
  border-top-width: 1px
}

.border-black\/10 {
  border-color: #0000001a
}

.border-current {
  border-color: currentColor
}

.border-theme-15 {
  border-color: var(--theme-text-15)
}

.border-white\/15 {
  border-color: #ffffff26
}

.bg-black {
  --tw-bg-opacity: 1;
  background-color: rgb(0 0 0/var(--tw-bg-opacity, 1))
}

.bg-black-off-1 {
  --tw-bg-opacity: 1;
  background-color: rgb(21 21 21/var(--tw-bg-opacity, 1))
}

.bg-black\/10 {
  background-color: #0000001a
}

.bg-black\/40 {
  background-color: #0006
}

.bg-black\/50 {
  background-color: #00000080
}

.bg-black\/60 {
  background-color: #0009
}

.bg-black\/80 {
  background-color: #000c
}

.bg-black\/90 {
  background-color: #000000e6
}

.bg-current {
  background-color: currentColor
}

.bg-theme-15 {
  background-color: var(--theme-text-15)
}

.bg-white {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255/var(--tw-bg-opacity, 1))
}

.bg-white\/15 {
  background-color: #ffffff26
}

.bg-white\/60 {
  background-color: #fff9
}

.fill-current {
  fill: currentColor
}

.object-contain {
  -o-object-fit: contain;
  object-fit: contain
}

.object-cover {
  -o-object-fit: cover;
  object-fit: cover
}

.p-12 {
  padding: 1.2rem
}

.p-24 {
  padding: 2.4rem
}

.px-15 {
  padding-left: 1.5rem;
  padding-right: 1.5rem
}

.px-20 {
  padding-left: 2rem;
  padding-right: 2rem
}

.px-22 {
  padding-left: 2.2rem;
  padding-right: 2.2rem
}

.px-24 {
  padding-left: 2.4rem;
  padding-right: 2.4rem
}

.px-32 {
  padding-left: 3.2rem;
  padding-right: 3.2rem
}

.py-24 {
  padding-bottom: 2.4rem;
  padding-top: 2.4rem
}

.py-25 {
  padding-bottom: 2.5rem;
  padding-top: 2.5rem
}

.py-30 {
  padding-bottom: 3rem;
  padding-top: 3rem
}

.py-32 {
  padding-bottom: 3.2rem;
  padding-top: 3.2rem
}

.py-40 {
  padding-bottom: 4rem;
  padding-top: 4rem
}

.py-48 {
  padding-bottom: 4.8rem;
  padding-top: 4.8rem
}

.py-5 {
  padding-bottom: .5rem;
  padding-top: .5rem
}

.py-\[42rem\] {
  padding-bottom: 42rem;
  padding-top: 42rem
}

.pb-100 {
  padding-bottom: 10rem
}

.pb-130 {
  padding-bottom: 13rem
}

.pb-24 {
  padding-bottom: 2.4rem
}

.pb-32 {
  padding-bottom: 3.2rem
}

.pb-40 {
  padding-bottom: 4rem
}

.pb-48 {
  padding-bottom: 4.8rem
}

.pb-50 {
  padding-bottom: 5rem
}

.pb-54 {
  padding-bottom: 5.4rem
}

.pb-64 {
  padding-bottom: 6.4rem
}

.pb-75 {
  padding-bottom: 7.5rem
}

.pb-90 {
  padding-bottom: 9rem
}

.pl-20 {
  padding-left: 2rem
}

.pr-12 {
  padding-right: 1.2rem
}

.pt-100 {
  padding-top: 10rem
}

.pt-115 {
  padding-top: 11.5rem
}

.pt-135 {
  padding-top: 13.5rem
}

.pt-140 {
  padding-top: 14rem
}

.pt-20 {
  padding-top: 2rem
}

.pt-25 {
  padding-top: 2.5rem
}

.pt-30 {
  padding-top: 3rem
}

.pt-300 {
  padding-top: 30rem
}

.pt-36 {
  padding-top: 3.6rem
}

.pt-40 {
  padding-top: 4rem
}

.pt-46 {
  padding-top: 4.6rem
}

.pt-48 {
  padding-top: 4.8rem
}

.pt-65 {
  padding-top: 6.5rem
}

.pt-\[130\%\] {
  padding-top: 130%
}

.pt-\[135\%\] {
  padding-top: 135%
}

.pt-\[31\.3rem\] {
  padding-top: 31.3rem
}

.pt-\[56\.25\%\] {
  padding-top: 56.25%
}

.text-left {
  text-align: left
}

.text-center {
  text-align: center
}

.font-condensed {
  font-family: condensed
}

.text-15 {
  font-size: 1.5rem
}

.text-\[\.5em\] {
  font-size: .5em
}

.font-medium {
  font-weight: 500
}

.uppercase {
  text-transform: uppercase
}

.not-italic {
  font-style: normal
}

.text-black {
  --tw-text-opacity: 1;
  color: rgb(0 0 0/var(--tw-text-opacity, 1))
}

.text-gray-1 {
  --tw-text-opacity: 1;
  color: rgb(154 154 154/var(--tw-text-opacity, 1))
}

.text-gray-2 {
  --tw-text-opacity: 1;
  color: rgb(138 138 138/var(--tw-text-opacity, 1))
}

.text-white {
  --tw-text-opacity: 1;
  color: rgb(255 255 255/var(--tw-text-opacity, 1))
}

.underline {
  text-decoration-line: underline
}

.opacity-0 {
  opacity: 0
}

.opacity-10 {
  opacity: .1
}

.opacity-100 {
  opacity: 1
}

.opacity-20 {
  opacity: .2
}

.opacity-50 {
  opacity: .5
}

.opacity-60 {
  opacity: .6
}

.opacity-70 {
  opacity: .7
}

.outline {
  outline-style: solid
}

.blur {
  --tw-blur: blur(8px)
}

.blur,
.filter {
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow)
}

.backdrop-blur-md {
  --tw-backdrop-blur: blur(12px)
}

.backdrop-blur-md,
.backdrop-blur-sm {
  -webkit-backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia);
  backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia)
}

.backdrop-blur-sm {
  --tw-backdrop-blur: blur(4px)
}

.transition {
  transition-duration: .15s;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter;
  transition-timing-function: cubic-bezier(.23, 1, .32, 1)
}

.transition-opacity {
  transition-duration: .15s;
  transition-property: opacity;
  transition-timing-function: cubic-bezier(.23, 1, .32, 1)
}

.transition-transform {
  transition-duration: .15s;
  transition-property: transform;
  transition-timing-function: cubic-bezier(.23, 1, .32, 1)
}

.duration-500 {
  transition-duration: .5s
}

.duration-700 {
  transition-duration: .7s
}

.ease-out-expo {
  transition-timing-function: cubic-bezier(.19, 1, .22, 1)
}

.will-change-transform {
  will-change: transform
}

.h1 {
  font-size: 9.5rem;
  letter-spacing: -.04em;
  line-height: .9
}

@media (min-width:650px) {
  .h1 {
    font-size: 16rem
  }
}

@media (min-width:1440px) {
  .h1 {
    font-size: 23rem
  }
}

.h2 {
  font-size: 8.5rem;
  letter-spacing: -.04em;
  line-height: .95
}

@media (min-width:650px) {
  .h2 {
    font-size: 14.5rem
  }
}

@media (min-width:1440px) {
  .h2 {
    font-size: 20rem
  }
}

.h2-alt {
  font-size: 6rem;
  letter-spacing: -.03em;
  line-height: 1
}

@media (min-width:650px) {
  .h2-alt {
    font-size: 9rem
  }
}

@media (min-width:1440px) {
  .h2-alt {
    font-size: 14rem
  }
}

.h3 {
  font-size: 5rem;
  letter-spacing: -.03em;
  line-height: 1
}

@media (min-width:650px) {
  .h3 {
    font-size: 7rem
  }
}

@media (min-width:1440px) {
  .h3 {
    font-size: 10rem
  }
}

.h3-alt {
  font-size: 5rem;
  letter-spacing: -.03em;
  line-height: 1
}

@media (min-width:650px) {
  .h3-alt {
    font-size: 7rem
  }
}

@media (min-width:1440px) {
  .h3-alt {
    font-size: 8rem
  }
}

.h4 {
  font-size: 3.3rem;
  letter-spacing: -.02em;
  line-height: 1.1
}

@media (min-width:650px) {
  .h4 {
    font-size: 4rem
  }
}

@media (min-width:1440px) {
  .h4 {
    font-size: 5rem
  }
}

.h5 {
  font-size: 2.8rem;
  letter-spacing: -.02em;
  line-height: 1.15
}

@media (min-width:650px) {
  .h5 {
    font-size: 3.5rem
  }
}

@media (min-width:1440px) {
  .h5 {
    font-size: 4rem
  }
}

.h6 {
  font-size: 2.6rem;
  letter-spacing: -.02em;
  line-height: 1.15
}

@media (min-width:650px) {
  .h6 {
    font-size: 3rem
  }
}

@media (min-width:1440px) {
  .h6 {
    font-size: 3.5rem
  }
}

.footer-1 {
  font-size: 3.4rem;
  line-height: 1.15
}

@media (min-width:650px) {
  .footer-1 {
    font-size: 4.8rem
  }
}

@media (min-width:1440px) {
  .footer-1 {
    font-size: 6.5rem
  }
}

.h1-c {
  font-family: condensed;
  font-size: 5.5rem;
  letter-spacing: -.02em;
  line-height: .85
}

@media (min-width:650px) {
  .h1-c {
    font-size: 8rem
  }
}

@media (min-width:1440px) {
  .h1-c {
    font-size: 10rem
  }
}

.h2-c {
  font-family: condensed;
  font-size: 3rem;
  letter-spacing: -.02em;
  line-height: .9
}

@media (min-width:650px) {
  .h2-c {
    font-size: 4.5rem
  }
}

@media (min-width:1440px) {
  .h2-c {
    font-size: 5rem
  }
}

.h3-c {
  font-family: condensed;
  font-size: 2.4rem;
  letter-spacing: -.015em;
  line-height: .95
}

@media (min-width:650px) {
  .h3-c {
    font-size: 2.8rem
  }
}

@media (min-width:1440px) {
  .h3-c {
    font-size: 3rem
  }
}

.h4-c {
  font-family: condensed;
  font-size: 1.8rem;
  letter-spacing: -.015em;
  line-height: 1
}

@media (min-width:650px) {
  .h4-c {
    font-size: 2rem
  }
}

@media (min-width:1440px) {
  .h4-c {
    font-size: 2.3rem
  }
}

.eyebrow {
  font-family: condensed;
  font-size: 1.8rem;
  line-height: 1;
  text-transform: uppercase
}

.body-large {
  font-size: 2rem;
  letter-spacing: -.01em;
  line-height: 1.4
}

@media (min-width:650px) {
  .body-large {
    font-size: clamp(15px, 1.8rem, 24px)
  }
}

@media (min-width:1440px) {
  .body-large {
    font-size: clamp(15px, 2rem, 24px)
  }
}

.body-normal {
  font-size: 1.8rem;
  line-height: 1.4
}

@media (min-width:650px) {
  .body-normal {
    font-size: clamp(15px, 1.6rem, 24px)
  }
}

@media (min-width:1440px) {
  .body-normal {
    font-size: clamp(15px, 1.8rem, 24px)
  }
}

.body-small {
  font-size: 1.5rem;
  line-height: 1.4
}

@media (min-width:650px) {
  .body-small {
    font-size: clamp(13px, 1.4rem, 24px)
  }
}

@media (min-width:1440px) {
  .body-small {
    font-size: clamp(13px, 1.5rem, 24px)
  }
}

.text-light>:not(a):not(strong):not(h2):not(h3):not(h4):not(h5):not(h6):not(.txt-media) {
  opacity: .6
}

.h-full-screen {
  height: 100vh;
  height: 100svh;
  height: calc(var(--vh-c, 1svh)*100)
}

.is-safari .h-full-screen {
  height: 100vh;
  height: 100svh
}

@media (hover:hover) and (pointer:fine) {
  .h-full-screen {
    height: 100vh;
    height: 100svh
  }
}

.h-full-screen-e {
  height: 100vh;
  height: calc(var(--vh-e, 1vh)*100)
}

.is-safari .h-full-screen-e {
  height: 100vh
}

@media (hover:hover) and (pointer:fine) {
  .h-full-screen-e {
    height: 100vh;
    height: 100svh
  }
}

.is-safari .min-h-full-screen {
  min-height: 100vh;
  min-height: 100svh
}

.min-h-full-screen-e {
  min-height: 100vh;
  min-height: calc(var(--vh-e, 1vh)*100)
}

.is-safari .min-h-full-screen-e {
  min-height: 100vh
}

@media (hover:hover) and (pointer:fine) {
  .min-h-full-screen-e {
    min-height: 100vh
  }
}

:root {
  --size: 430;
  --clamp: 10px;
  --global-font-size: clamp(1px, calc((100vw/var(--size))*10), var(--clamp));
  --theme-background: #000;
  --theme-text: #fff;
  --theme-text-70: hsla(0, 0%, 100%, .7);
  --theme-text-60: hsla(0, 0%, 100%, .6);
  --theme-text-15: hsla(0, 0%, 100%, .15)
}

@media (min-width:650px) {
  :root {
    --size: 1194
  }
}

@media (min-width:1440px) {
  :root {
    --size: 1728
  }
}

html {
  font-kerning: none;
  font-size: var(--global-font-size);
  font-variant-ligatures: common-ligatures;
  -webkit-text-size-adjust: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
  text-rendering: optimizeLegibility
}

html.is-text-dark {
  --theme-text: #000;
  --theme-text-70: rgba(0, 0, 0, .7);
  --theme-text-60: rgba(0, 0, 0, .6);
  --theme-text-15: rgba(0, 0, 0, .15)
}

body,
html {
  overscroll-behavior: none
}

body {
  color: var(--theme-text);
  font-family: sans;
  font-size: 2rem;
  letter-spacing: -.01em;
  line-height: 1.4;
  transition: color .3s ease-out
}

@media (min-width:650px) {
  body {
    font-size: clamp(15px, 1.8rem, 24px)
  }
}

@media (min-width:1440px) {
  body {
    font-size: clamp(15px, 2rem, 24px)
  }
}

body.is-loading {
  cursor: wait
}

html.lenis,
html.lenis body {
  height: auto
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain
}

.lenis.lenis-stopped {
  overflow: hidden
}

.lenis.lenis-smooth iframe {
  pointer-events: none
}

button {
  border-radius: 0
}

button,
input,
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-family: inherit
}

input,
textarea {
  background: transparent;
  border: 0;
  border-radius: 0;
  box-shadow: none;
  margin: 0;
  outline: 0;
  padding: 0
}

::-moz-placeholder {
  color: #000
}

::placeholder {
  color: #000
}

::-moz-selection {
  background-color: #000;
  color: #fff
}

::selection {
  background-color: #000;
  color: #fff
}

* {
  box-sizing: border-box
}

em {
  font-style: normal;
  opacity: .6
}

.h1 a,
.h1 a>*,
.h1-c a,
.h1-c a>*,
.h2 a,
.h2 a>*,
.h2-alt a,
.h2-alt a>*,
.h2-c a,
.h2-c a>*,
.h3 a,
.h3 a>*,
.h3-alt a,
.h3-alt a>*,
.h3-c a,
.h3-c a>*,
.h4 a,
.h4 a>*,
.h4-c a,
.h4-c a>*,
.h5 a,
.h5 a>*,
.h6 a,
.h6 a>* {
  text-decoration: underline
}

.txt>:not(:last-child) {
  margin-bottom: 2.5rem
}

.txt a {
  text-decoration: underline
}

.txt em {
  font-style: italic;
  opacity: 1
}

.txt ul {
  display: flex;
  flex-direction: column;
  gap: .2em 0;
  list-style-type: none
}

.txt ul li {
  padding-left: 1.5em;
  position: relative
}

.txt ul li:before {
  background-color: currentColor;
  border-radius: 99px;
  content: "";
  height: .375em;
  left: .6em;
  position: absolute;
  top: .4em;
  width: .375em
}

.txt ol {
  counter-reset: list-counter;
  display: flex;
  flex-direction: column;
  gap: .2em 0;
  list-style-type: none
}

.txt ol li {
  counter-increment: list-counter;
  padding-left: 1.5em;
  position: relative
}

.txt ol li:before {
  content: counter(list-counter) ".";
  left: 0;
  position: absolute;
  top: 0
}

.txt .btn {
  text-decoration: none !important
}

.txt .btn:not(:first-child) {
  margin-top: 2.5rem
}

.txt .btn>* {
  text-decoration: none !important
}

.site-max {
  --padding: 1.6rem;
  margin-left: auto;
  margin-right: auto;
  max-width: 172.8rem;
  padding-left: var(--padding);
  padding-right: var(--padding);
  width: 100%
}

.site-max .site-max {
  padding-left: 0;
  padding-right: 0
}

@media (min-width:650px) {
  .site-max {
    --padding: 3.2rem
  }
}

@media (min-width:1440px) {
  .site-max {
    --padding: 6rem
  }
}

.site-grid {
  --columns: 6;
  --gap: 1.6rem;
  display: grid;
  grid-template-columns: repeat(var(--columns), minmax(0, 1fr));
  grid-column-gap: var(--gap)
}

@media (min-width:650px) {
  .site-grid {
    --columns: 12;
    --gap: 1.4rem
  }
}

@media (min-width:1440px) {
  .site-grid {
    --gap: 2rem
  }
}

.site-gap {
  --gap: 1.6rem;
  -moz-column-gap: var(--gap);
  column-gap: var(--gap)
}

@media (min-width:650px) {
  .site-gap {
    --gap: 1.4rem
  }
}

@media (min-width:1440px) {
  .site-gap {
    --gap: 2rem
  }
}

.media-fill img,
.media-fill video {
  height: 100%;
  left: 0;
  -o-object-fit: cover;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 100%
}

.media-fill.--top img,
.media-fill.--top video {
  -o-object-position: top !important;
  object-position: top !important
}

.media-contain img,
.media-contain video {
  height: 100%;
  left: 0;
  -o-object-fit: contain;
  object-fit: contain;
  position: absolute;
  top: 0;
  width: 100%
}

.cursor-grab {
  cursor: grab
}

.cursor-grab.is-grabbing {
  cursor: grabbing
}

.aspect {
  padding-top: var(--aspect)
}

.uline {
  display: inline-flex;
  position: relative;
  white-space: nowrap;
  --bottom: 0
}

.uline:before {
  background-color: currentColor;
  bottom: var(--bottom);
  content: "";
  height: .05em;
  left: 0;
  min-height: 1px;
  position: absolute;
  right: 0;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform .75s cubic-bezier(.19, 1, .22, 1)
}

@media (hover:hover) and (pointer:fine) {
  .uline:hover:before {
    transform: scaleX(1);
    transform-origin: left
  }
}

.uline.nuxt-link-exact-active:before,
.uline.sh__link.nuxt-link-active:before {
  transform: scaleX(1);
  transform-origin: left
}

.uline-double {
  display: inline-flex;
  position: relative;
  white-space: nowrap;
  --bottom: 0
}

.uline-double:after,
.uline-double:before {
  background-color: currentColor;
  bottom: var(--bottom);
  content: "";
  height: .05em;
  left: 0;
  min-height: 1px;
  position: absolute;
  right: 0
}

.uline-double:before {
  transform: scaleX(1);
  transform-origin: left;
  transition: transform .75s cubic-bezier(.19, 1, .22, 1);
  transition-delay: .5s
}

.uline-double:after {
  transform: scaleX(0);
  transform-origin: right;
  transition: transform .75s cubic-bezier(.19, 1, .22, 1);
  transition-delay: 0s
}

@media (hover:hover) and (pointer:fine) {
  .uline-double:hover:before {
    transform: scaleX(0);
    transform-origin: right;
    transition: transform .75s cubic-bezier(.19, 1, .22, 1);
    transition-delay: 0s
  }

  .uline-double:hover:after {
    transform: scaleX(1);
    transform-origin: left;
    transition: transform .75s cubic-bezier(.19, 1, .22, 1);
    transition-delay: .2s
  }
}

.cursor-none {
  cursor: none
}

.radius-fix {
  -webkit-mask-image: -webkit-radial-gradient(#fff, #000);
  overflow: hidden
}

input,
textarea {
  min-width: 0
}

.stack {
  display: grid
}

.stack>* {
  grid-area: 1/1
}

@media (hover:hover) and (pointer:fine) {
  .h-scale__item {
    transition: transform 1s cubic-bezier(.19, 1, .22, 1)
  }

  .h-scale:hover .h-scale__item {
    transform: scale(1.05)
  }

  .h-fade {
    transition: opacity .5s ease-out
  }

  .h-fade:hover {
    opacity: .3
  }

  .h-shape__shape {
    transition: transform .75s cubic-bezier(.19, 1, .22, 1)
  }

  .h-shape__shape:first-child {
    transition-delay: .15s
  }

  .h-shape__shape:nth-child(2) {
    transform: translate(-100%);
    transition-delay: 0s
  }

  .h-shape:hover .h-shape__shape:first-child {
    transform: translate(100%);
    transition-delay: 0s
  }

  .h-shape:hover .h-shape__shape:nth-child(2) {
    transform: translate(0);
    transition-delay: .15s
  }
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity .35s ease-out
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0
}

.radius-media {
  -webkit-mask-image: -webkit-radial-gradient(#fff, #000);
  overflow: hidden
}

.radius-global,
.radius-media {
  border-radius: 1rem
}

.before-gradient:before {
  background: linear-gradient(180deg, transparent, #000);
  content: "";
  height: 100%;
  left: 0;
  opacity: .6;
  position: absolute;
  top: 0;
  width: 100%
}

.after\:absolute:after {
  content: var(--tw-content);
  position: absolute
}

.after\:right-0:after {
  content: var(--tw-content);
  right: 0
}

.after\:top-1\/2:after {
  content: var(--tw-content);
  top: 50%
}

.after\:size-\[\.35em\]:after {
  content: var(--tw-content);
  height: .35em;
  width: .35em
}

.after\:-translate-y-1\/2:after {
  --tw-translate-y: -50%
}

.after\:-translate-y-1\/2:after,
.after\:translate-x-1\/2:after {
  content: var(--tw-content);
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skew(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.after\:translate-x-1\/2:after {
  --tw-translate-x: 50%
}

.after\:rounded-full:after {
  border-radius: 9999px;
  content: var(--tw-content)
}

.after\:bg-current:after {
  background-color: currentColor;
  content: var(--tw-content)
}

.first\:pt-0:first-child {
  padding-top: 0
}

.last\:pb-0:last-child {
  padding-bottom: 0
}

@media (min-width:650px) {
  .s\:absolute {
    position: absolute
  }

  .s\:inset-x-0 {
    left: 0;
    right: 0
  }

  .s\:bottom-50 {
    bottom: 5rem
  }

  .s\:bottom-76 {
    bottom: 7.6rem
  }

  .s\:bottom-auto {
    bottom: auto
  }

  .s\:left-1\/2 {
    left: 50%
  }

  .s\:right-32 {
    right: 3.2rem
  }

  .s\:top-1\/2 {
    top: 50%
  }

  .s\:order-1 {
    order: 1
  }

  .s\:order-2 {
    order: 2
  }

  .s\:order-3 {
    order: 3
  }

  .s\:col-span-2 {
    grid-column: span 2/span 2
  }

  .s\:col-span-3 {
    grid-column: span 3/span 3
  }

  .s\:col-span-4 {
    grid-column: span 4/span 4
  }

  .s\:col-span-5 {
    grid-column: span 5/span 5
  }

  .s\:col-span-6 {
    grid-column: span 6/span 6
  }

  .s\:col-span-7 {
    grid-column: span 7/span 7
  }

  .s\:col-span-8 {
    grid-column: span 8/span 8
  }

  .s\:col-span-9 {
    grid-column: span 9/span 9
  }

  .s\:col-start-10 {
    grid-column-start: 10
  }

  .s\:col-start-3 {
    grid-column-start: 3
  }

  .s\:col-start-6 {
    grid-column-start: 6
  }

  .s\:col-start-7 {
    grid-column-start: 7
  }

  .s\:col-start-8 {
    grid-column-start: 8
  }

  .s\:col-start-9 {
    grid-column-start: 9
  }

  .s\:-mx-40 {
    margin-left: -4rem;
    margin-right: -4rem
  }

  .s\:mx-auto {
    margin-left: auto;
    margin-right: auto
  }

  .s\:-mt-40 {
    margin-top: -4rem
  }

  .s\:mb-0 {
    margin-bottom: 0
  }

  .s\:mb-24 {
    margin-bottom: 2.4rem
  }

  .s\:mb-3 {
    margin-bottom: .3rem
  }

  .s\:mb-48 {
    margin-bottom: 4.8rem
  }

  .s\:mb-\[\.75rem\] {
    margin-bottom: .75rem
  }

  .s\:ml-0 {
    margin-left: 0
  }

  .s\:ml-auto {
    margin-left: auto
  }

  .s\:mr-0 {
    margin-right: 0
  }

  .s\:mt-0 {
    margin-top: 0
  }

  .s\:mt-150 {
    margin-top: 15rem
  }

  .s\:mt-170 {
    margin-top: 17rem
  }

  .s\:mt-40 {
    margin-top: 4rem
  }

  .s\:mt-60 {
    margin-top: 6rem
  }

  .s\:mt-95 {
    margin-top: 9.5rem
  }

  .s\:mt-\[34rem\] {
    margin-top: 34rem
  }

  .s\:mt-\[50rem\] {
    margin-top: 50rem
  }

  .s\:mt-\[60rem\] {
    margin-top: 60rem
  }

  .s\:block {
    display: block
  }

  .s\:inline {
    display: inline
  }

  .s\:flex {
    display: flex
  }

  .s\:inline-flex {
    display: inline-flex
  }

  .s\:hidden {
    display: none
  }

  .s\:h-70 {
    height: 7rem
  }

  .s\:h-\[12\.5rem\] {
    height: 12.5rem
  }

  .s\:min-h-\[30rem\] {
    min-height: 30rem
  }

  .s\:min-w-\[34\.4rem\] {
    min-width: 34.4rem
  }

  .s\:min-w-\[46\.3rem\] {
    min-width: 46.3rem
  }

  .s\:min-w-\[52\.5rem\] {
    min-width: 52.5rem
  }

  .s\:min-w-\[84\.5rem\] {
    min-width: 84.5rem
  }

  .s\:max-w-\[100rem\] {
    max-width: 100rem
  }

  .s\:max-w-\[110rem\] {
    max-width: 110rem
  }

  .s\:max-w-\[127\.5rem\] {
    max-width: 127.5rem
  }

  .s\:max-w-\[135rem\] {
    max-width: 135rem
  }

  .s\:max-w-\[32\.5rem\] {
    max-width: 32.5rem
  }

  .s\:max-w-\[34\.4rem\] {
    max-width: 34.4rem
  }

  .s\:max-w-\[35\.5rem\] {
    max-width: 35.5rem
  }

  .s\:max-w-\[35rem\] {
    max-width: 35rem
  }

  .s\:max-w-\[37\.5rem\] {
    max-width: 37.5rem
  }

  .s\:max-w-\[40rem\] {
    max-width: 40rem
  }

  .s\:max-w-\[42\.5rem\] {
    max-width: 42.5rem
  }

  .s\:max-w-\[45rem\] {
    max-width: 45rem
  }

  .s\:max-w-\[46\.3rem\] {
    max-width: 46.3rem
  }

  .s\:max-w-\[50rem\] {
    max-width: 50rem
  }

  .s\:max-w-\[52\.5rem\] {
    max-width: 52.5rem
  }

  .s\:max-w-\[53\.5rem\] {
    max-width: 53.5rem
  }

  .s\:max-w-\[55rem\] {
    max-width: 55rem
  }

  .s\:max-w-\[65\%\] {
    max-width: 65%
  }

  .s\:max-w-\[65rem\] {
    max-width: 65rem
  }

  .s\:max-w-\[68\.5rem\] {
    max-width: 68.5rem
  }

  .s\:max-w-\[70rem\] {
    max-width: 70rem
  }

  .s\:max-w-\[75rem\] {
    max-width: 75rem
  }

  .s\:max-w-\[84\.5rem\] {
    max-width: 84.5rem
  }

  .s\:-translate-x-1\/2 {
    --tw-translate-x: -50%
  }

  .s\:-translate-x-1\/2,
  .s\:-translate-x-40 {
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skew(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
  }

  .s\:-translate-x-40 {
    --tw-translate-x: -4rem
  }

  .s\:-translate-y-1\/2 {
    --tw-translate-y: -50%
  }

  .s\:-translate-y-1\/2,
  .s\:translate-x-40 {
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skew(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
  }

  .s\:translate-x-40 {
    --tw-translate-x: 4rem
  }

  .s\:grid-cols-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr))
  }

  .s\:flex-row {
    flex-direction: row
  }

  .s\:items-start {
    align-items: flex-start
  }

  .s\:items-end {
    align-items: flex-end
  }

  .s\:items-center {
    align-items: center
  }

  .s\:justify-start {
    justify-content: flex-start
  }

  .s\:justify-end {
    justify-content: flex-end
  }

  .s\:justify-center {
    justify-content: center
  }

  .s\:justify-between {
    justify-content: space-between
  }

  .s\:gap-x-20 {
    -moz-column-gap: 2rem;
    column-gap: 2rem
  }

  .s\:gap-y-16 {
    row-gap: 1.6rem
  }

  .s\:gap-y-20 {
    row-gap: 2rem
  }

  .s\:gap-y-30 {
    row-gap: 3rem
  }

  .s\:gap-y-40 {
    row-gap: 4rem
  }

  .s\:gap-y-48 {
    row-gap: 4.8rem
  }

  .s\:gap-y-64 {
    row-gap: 6.4rem
  }

  .s\:rounded-\[1rem\] {
    border-radius: 1rem
  }

  .s\:p-32 {
    padding: 3.2rem
  }

  .s\:p-40 {
    padding: 4rem
  }

  .s\:px-32 {
    padding-left: 3.2rem;
    padding-right: 3.2rem
  }

  .s\:px-40 {
    padding-left: 4rem;
    padding-right: 4rem
  }

  .s\:py-32 {
    padding-bottom: 3.2rem;
    padding-top: 3.2rem
  }

  .s\:py-36 {
    padding-bottom: 3.6rem;
    padding-top: 3.6rem
  }

  .s\:py-40 {
    padding-bottom: 4rem;
    padding-top: 4rem
  }

  .s\:py-96 {
    padding-bottom: 9.6rem;
    padding-top: 9.6rem
  }

  .s\:pb-195 {
    padding-bottom: 19.5rem
  }

  .s\:pb-36 {
    padding-bottom: 3.6rem
  }

  .s\:pb-44 {
    padding-bottom: 4.4rem
  }

  .s\:pb-48 {
    padding-bottom: 4.8rem
  }

  .s\:pb-50 {
    padding-bottom: 5rem
  }

  .s\:pb-56 {
    padding-bottom: 5.6rem
  }

  .s\:pb-90 {
    padding-bottom: 9rem
  }

  .s\:pb-95 {
    padding-bottom: 9.5rem
  }

  .s\:pb-96 {
    padding-bottom: 9.6rem
  }

  .s\:pl-40 {
    padding-left: 4rem
  }

  .s\:pr-135 {
    padding-right: 13.5rem
  }

  .s\:pr-50 {
    padding-right: 5rem
  }

  .s\:pr-55 {
    padding-right: 5.5rem
  }

  .s\:pt-160 {
    padding-top: 16rem
  }

  .s\:pt-185 {
    padding-top: 18.5rem
  }

  .s\:pt-32 {
    padding-top: 3.2rem
  }

  .s\:pt-40 {
    padding-top: 4rem
  }

  .s\:pt-48 {
    padding-top: 4.8rem
  }

  .s\:pt-50 {
    padding-top: 5rem
  }

  .s\:pt-52 {
    padding-top: 5.2rem
  }

  .s\:pt-56 {
    padding-top: 5.6rem
  }

  .s\:pt-60 {
    padding-top: 6rem
  }

  .s\:pt-96 {
    padding-top: 9.6rem
  }

  .s\:pt-\[31\.3rem\] {
    padding-top: 31.3rem
  }

  .s\:pt-\[56\.25\%\] {
    padding-top: 56.25%
  }

  .s\:text-right {
    text-align: right
  }

  .s\:text-white\/50 {
    color: #ffffff80
  }

  .s\:before\:absolute:before {
    content: var(--tw-content);
    position: absolute
  }

  .s\:before\:-left-16:before {
    content: var(--tw-content);
    left: -1.6rem
  }

  .s\:before\:bottom-0:before {
    bottom: 0;
    content: var(--tw-content)
  }

  .s\:before\:top-0:before {
    content: var(--tw-content);
    top: 0
  }

  .s\:before\:border-l:before {
    border-left-width: 1px;
    content: var(--tw-content)
  }

  .s\:before\:border-current:before {
    border-color: currentColor;
    content: var(--tw-content)
  }

  .s\:before\:opacity-15:before {
    content: var(--tw-content);
    opacity: .15
  }
}

@media (min-width:1440px) {
  .m\:right-60 {
    right: 6rem
  }

  .m\:col-span-2 {
    grid-column: span 2/span 2
  }

  .m\:col-span-3 {
    grid-column: span 3/span 3
  }

  .m\:col-span-4 {
    grid-column: span 4/span 4
  }

  .m\:col-span-8 {
    grid-column: span 8/span 8
  }

  .m\:col-start-10 {
    grid-column-start: 10
  }

  .m\:col-start-11 {
    grid-column-start: 11
  }

  .m\:col-start-6 {
    grid-column-start: 6
  }

  .m\:-mt-200 {
    margin-top: -20rem
  }

  .m\:mr-20 {
    margin-right: 2rem
  }

  .m\:mt-175 {
    margin-top: 17.5rem
  }

  .m\:mt-\[42\.5rem\] {
    margin-top: 42.5rem
  }

  .m\:mt-\[60rem\] {
    margin-top: 60rem
  }

  .m\:mt-\[78\.2rem\] {
    margin-top: 78.2rem
  }

  .m\:h-130 {
    height: 13rem
  }

  .m\:h-\[17\.5rem\] {
    height: 17.5rem
  }

  .m\:min-h-\[64rem\] {
    min-height: 64rem
  }

  .m\:min-w-\[120rem\] {
    min-width: 120rem
  }

  .m\:min-w-\[13\.1rem\] {
    min-width: 13.1rem
  }

  .m\:min-w-\[45rem\] {
    min-width: 45rem
  }

  .m\:min-w-\[52\.2rem\] {
    min-width: 52.2rem
  }

  .m\:min-w-\[70rem\] {
    min-width: 70rem
  }

  .m\:max-w-\[118rem\] {
    max-width: 118rem
  }

  .m\:max-w-\[120rem\] {
    max-width: 120rem
  }

  .m\:max-w-\[13\.1rem\] {
    max-width: 13.1rem
  }

  .m\:max-w-\[45rem\] {
    max-width: 45rem
  }

  .m\:max-w-\[50rem\] {
    max-width: 50rem
  }

  .m\:max-w-\[52\.2rem\] {
    max-width: 52.2rem
  }

  .m\:max-w-\[52\.5rem\] {
    max-width: 52.5rem
  }

  .m\:max-w-\[53rem\] {
    max-width: 53rem
  }

  .m\:max-w-\[58\.6rem\] {
    max-width: 58.6rem
  }

  .m\:max-w-\[70rem\] {
    max-width: 70rem
  }

  .m\:max-w-\[71\.9rem\] {
    max-width: 71.9rem
  }

  .m\:gap-x-16 {
    -moz-column-gap: 1.6rem;
    column-gap: 1.6rem
  }

  .m\:gap-y-120 {
    row-gap: 12rem
  }

  .m\:gap-y-20 {
    row-gap: 2rem
  }

  .m\:gap-y-24 {
    row-gap: 2.4rem
  }

  .m\:gap-y-64 {
    row-gap: 6.4rem
  }

  .m\:p-40 {
    padding: 4rem
  }

  .m\:px-48 {
    padding-left: 4.8rem;
    padding-right: 4.8rem
  }

  .m\:py-40 {
    padding-bottom: 4rem;
    padding-top: 4rem
  }

  .m\:pb-225 {
    padding-bottom: 22.5rem
  }

  .m\:pb-40 {
    padding-bottom: 4rem
  }

  .m\:pb-56 {
    padding-bottom: 5.6rem
  }

  .m\:pb-90 {
    padding-bottom: 9rem
  }

  .m\:pr-90 {
    padding-right: 9rem
  }

  .m\:pt-125 {
    padding-top: 12.5rem
  }

  .m\:pt-220 {
    padding-top: 22rem
  }

  .m\:pt-270 {
    padding-top: 27rem
  }

  .m\:pt-40 {
    padding-top: 4rem
  }

  .m\:pt-64 {
    padding-top: 6.4rem
  }

  .m\:pt-68 {
    padding-top: 6.8rem
  }

  .m\:pt-96 {
    padding-top: 9.6rem
  }

  .m\:pt-\[36\.1rem\] {
    padding-top: 36.1rem
  }

  @media (min-width:650px) {
    .m\:s\:before\:-left-20:before {
      content: var(--tw-content);
      left: -2rem
    }
  }
}

@media (max-width:649px) {
  .max-s\:flex {
    display: flex
  }

  .max-s\:h-\[52\.5rem\] {
    height: 52.5rem
  }

  .max-s\:max-h-\[100svh\] {
    max-height: 100svh
  }

  .max-s\:w-full {
    width: 100%
  }

  .max-s\:max-w-\[15rem\] {
    max-width: 15rem
  }

  .max-s\:justify-end {
    justify-content: flex-end
  }

  .max-s\:justify-between {
    justify-content: space-between
  }

  .max-s\:\!text-60 {
    font-size: 6rem !important
  }

  .max-s\:opacity-60 {
    opacity: .6
  }
}

@media (hover:hover) and (pointer:fine) {
  .has-hover\:pointer-events-auto {
    pointer-events: auto
  }

  .has-hover\:pb-50 {
    padding-bottom: 5rem
  }

  .has-hover\:hover\:opacity-100:hover {
    opacity: 1
  }

  .group:hover .has-hover\:group-hover\:opacity-15 {
    opacity: .15
  }
}

@media (orientation:portrait) {
  .portrait\:gap-y-\[60rem\] {
    row-gap: 60rem
  }

  .portrait\:py-\[60rem\] {
    padding-bottom: 60rem;
    padding-top: 60rem
  }
}

@media (min-width:650px) {
  @media (orientation:portrait) {
    .s\:portrait\:pb-300 {
      padding-bottom: 30rem
    }
  }
}

@media (orientation:landscape) {
  .landscape\:items-start {
    align-items: flex-start
  }

  .landscape\:py-48 {
    padding-bottom: 4.8rem;
    padding-top: 4.8rem
  }
}
