.sh {
  --background: #000;
  transition: all .3s ease-out
}

.sh.is-light {
  --background: #fff
}

.sh__gradient {
  mask-image: linear-gradient(0deg, transparent 0, #000);
  -webkit-mask-image: linear-gradient(0deg, transparent 0, #000);
  opacity: .5;
  transition: all .3s ease-out
}

.is-light .sh__gradient {
  opacity: .6
}

.is-collapsed .sh__gradient {
  opacity: 0
}

.sh-toggle {
  --width: 6.2rem;
  transition: width .65s ease;
  width: var(--width)
}

@media (min-width:650px) {
  .sh-toggle {
    --width: 11.2rem
  }

  .is-collapsed .sh-toggle,
  .is-menu .sh-toggle {
    --width: 6.2rem
  }

  .sh-toggle__label {
    transition: opacity .5s ease;
    transition-delay: .15s
  }

  .is-collapsed .sh-toggle__label,
  .is-form .sh-toggle__label,
  .is-menu .sh-toggle__label {
    opacity: 0;
    transition-delay: 0s
  }
}

.sh-toggle__icon {
  opacity: 1;
  transition: opacity .5s ease;
  transition-delay: .15s
}

@media (min-width:650px) {
  .sh-toggle__icon {
    opacity: 0;
    transition-delay: 0s
  }

  .is-collapsed:not(.is-menu):not(.is-form) .sh-toggle__icon {
    opacity: 1;
    transition-delay: .15s
  }
}

.is-form .sh-toggle__icon,
.is-menu .sh-toggle__icon {
  opacity: 0;
  transition-delay: 0s
}

.sh-toggle__close {
  opacity: 0;
  transition: opacity .5s ease;
  transition-delay: 0s
}

.is-form .sh-toggle__close,
.is-menu .sh-toggle__close {
  opacity: 1;
  transition-delay: .15s
}
