audio,
canvas,
embed,
iframe,
img,
object,
svg,
video {
  display: block;
  vertical-align: middle;
}

.h1 a,
.h1 a>*,
.h1-c a,
.h1-c a>*,
.h2 a,
.h2 a>*,
.h2-alt a,
.h2-alt a>*,
.h2-c a,
.h2-c a>*,
.h3 a,
.h3 a>*,
.h3-alt a,
.h3-alt a>*,
.h3-c a,
.h3-c a>*,
.h4 a,
.h4 a>*,
.h4-c a,
.h4-c a>*,
.h5 a,
.h5 a>*,
.h6 a,
.h6 a>* {
  text-decoration: underline;
}
