.btn {
  border-radius: 1rem;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1;
  transform-style: preserve-3d;
  z-index: 2
}

.btn,
.btn:after {
  backface-visibility: hidden;
  will-change: transform
}

.btn:after {
  background-color: var(--theme-text);
  border-radius: inherit;
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  transform: scaleX(0);
  transform-origin: right;
  transform-style: preserve-3d;
  transition: transform .5s cubic-bezier(.19, 1, .22, 1);
  width: 100%;
  z-index: 1
}

.btn.--solid {
  color: var(--theme-background)
}

.btn.--solid.--light {
  --theme-background: #fff;
  --theme-text: var(--theme-background)
}

.btn.--solid.--dark {
  --theme-background: #fff;
  --theme-text: #000
}

.btn.--solid.--blurred {
  color: var(--theme-text);
  transition: color .15s ease-out
}

.btn.--solid.--blurred:before {
  background-color: #f2f2f2;
  opacity: 1
}

.btn.--solid.--blurred:hover {
  color: var(--theme-background)
}

.btn.--solid.--blurred.--foot {
  color: #000
}

.btn.--solid.--blurred.--foot:before {
  background-color: #f2f2f2
}

.btn.--solid.--blurred.--foot:after {
  background-color: #000
}

.btn.--solid.--blurred.--foot.--light,
.btn.--solid.--blurred.--foot:hover {
  color: #fff
}

.btn.--solid.--blurred.--foot.--light:before {
  background-color: #ffffff40
}

.btn.--solid.--blurred.--foot.--light:after {
  background-color: #fff
}

.btn.--solid.--blurred.--foot.--light:hover {
  color: #000
}

.btn.--solid.--blurred.--light:before {
  background-color: #ffffff40
}

.btn.--solid.--blurred.--light:hover {
  color: #000
}

.btn.--solid.--blurred.--dark:hover {
  color: #fff
}

.btn.--solid:before {
  backface-visibility: hidden;
  background-color: var(--theme-text);
  border-radius: inherit;
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: .7;
  position: absolute;
  transform-style: preserve-3d;
  z-index: 1
}

.btn.--outline {
  color: var(--theme-text);
  transition: color .15s ease-out
}

.btn.--outline.--dark {
  --theme-text: #8a8a8a
}

.btn.--outline.--light {
  --theme-text: #fff
}

.btn.--outline:before {
  backface-visibility: hidden;
  border: 1px solid var(--theme-text);
  border-radius: inherit;
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  pointer-events: none;
  position: absolute;
  transform-style: preserve-3d;
  z-index: 2
}

.btn.--outline:hover {
  color: var(--theme-background)
}

.btn.--outline:hover.--dark {
  color: #fff
}

.btn:hover:after {
  transform: scaleX(1)
}
